/* تنظیمات کلی */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #333;
}

h1, h2 {
  margin: 0;
  color: #ffa726;
}

.container {
  display: flex;
  flex: 1;
  padding: 20px;
}

.playlist {
  width: 30%;
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.playlist h2 {
  margin-bottom: 10px;
}

.playlist ul {
  list-style: none;
  padding: 0;
}

.playlist li {
  padding: 10px;
  margin: 5px 0;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist li:hover {
  background-color: #ffa726;
  color: #000;
}

.player {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

audio {
  width: 100%;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #333;
}
